#files
*~
*.class
*.DS_Store
*.lock
*.out
*.swp
.directory
.project

#dirs
*/.settings/*
*/target/*

/Thumbs.db
/Utils/PacketCodeGen/target/
/ServerApp/actions/target/
/ServerApp/loginshard/target/
/ServerApp/framework/target/
/ServerApp/protocol/target/
/ServerApp/mapshard/target/
/ServerApp/fileshard/target/